
.card {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 0;
}

.text-muted {
  color: gray;
}

#main-title {
  color: darkblue;
}

#highlight {
  background-color: yellow;
}

.error{
border:2px solid red;
}
